.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background: rgb(9,5,82);
  background: linear-gradient(13deg, rgba(9,5,82,1) 0%, rgba(149,76,226,1) 35%, rgba(2,229,247,1) 100%);
  height:100%;
}
.bookForm {
  display: grid;
  width: 400px;
  /*border: solid black 4px;*/
  /*border-radius: 20px;*/
  margin: auto auto 40px;
  padding: 20px;
  background: rgb(9,5,82);
  background: linear-gradient(13deg, rgba(9,5,82,1) 0%, rgba(107,78,138,1) 0%, rgba(76,51,168,1) 100%);
  /*background-color: rgb(65, 46, 110);*/
  color: white;
  align-content: center;
}
#bookName {
  margin: 8px;
}
#bookAuthor {
  margin: 8px;
}
#read {
  margin: 8px;
}
#submit {
  margin: 8px;
  border: solid white 2px;
  border-radius: 8px;
}
table {
  width: 800px;
  margin: 0px auto;
  border: solid rgb(65, 46, 110) 2px;
  background: rgb(9,5,82);
  background: linear-gradient(13deg, rgba(9,5,82,1) 0%, rgba(107,78,138,1) 0%, rgba(76,51,168,1) 100%);
}
table,
th,
td {
  border-collapse: collapse;
 
}
th,
td {
  border: solid 1px rgb(120, 95, 179);
  padding: 4px;
  /*background-color: rgb(65, 46, 110);*/
  color: white;
}
th {
  text-align: left;
  background-color: rgb(77, 50, 139);
  color: white;
}
#settings {
  width: 200px;
}
#settings > * {
  margin: 4px;
  border: solid black 2px;
}
.Header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(54, 47, 46);
  color: white;
}
.Header > p {
  margin-left: 0px;
  margin-right: auto;
}
.Footer {
  text-align: center;
  padding: 2px 0px 2px 0px;
  margin-top: 20px;
  background-color: rgb(54, 47, 46);
  color: white;
}
#logoHeader {
  margin-right: 10px;
  margin-left: auto;
  width: 40px;
  height: 40px;
}
#footerLogo {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 600px) {
  .bookForm,
  table {
    width: auto;
    table-layout: fixed;
  }
  td {
    word-break: break-all;
  }
}


